{% extends 'booking/base.html' %} {% load static %} {% block content %}
<div class="contact-container">
  <!-- Ľavý stĺpec: text + fotka -->
  <div class="contact-info">
    <h2>Kontakt</h2>
    <p>
      <strong>Adresa:</strong> Hotel Lomnica, Tatranská Lomnica 92, 059 60
      Vysoké Tatry
    </p>
    <p><strong>Telefón - Recepcia:</strong> +421 123 456 789</p>
    <p><strong>Email:</strong> recepcia@hotellomnica.sk</p>
    <p><strong>Otváracie hodiny:</strong> 24/7</p>
    <p><strong>GPS:</strong> 49.16573° N, 20.27546° E</p>
    <img
      src="{% static 'images/telefon.jpg' %}"
      alt="Kontaktný telefón"
      class="contact-photo"
    />
  </div>

  <!-- Pravý stĺpec: Google Mapa -->
  <div class="contact-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2608.835591817905!2d20.275458192139563!3d49.1657288052309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473e23aaae39c9ad%3A0x6e7bc213a8b7d29f!2sHotel%20Lomnica%2C%20Tatransk%C3%A1%20Lomnica%2092%2C%20059%2060%20Vysok%C3%A9%20Tatry!5e0!3m2!1ssk!2ssk!4v1742685075489!5m2!1ssk!2ssk"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
{% endblock %}
